*{
  box-sizing: border-box;
}
header{
 
  background-color: lightcyan;
  text-align: center;
  width:100vw;
  height:25vh;
}

.middle-section{
  display:flex;
  flex-direction: row;
  width:60vw;
  height:100vh;
  /* Add flex properties here */
}

aside{
  display:flex;
  height:100%;
  background-color: lightseagreen;
  width:80vw;
  flex-direction:column;
  
}

.image-section{
  display:flex;
  text-align:left;
  width:60vw;
  height:45%;
  flex-direction:column


}

footer{
  background-color: lime;
  height:20vh;
  width:100vw;
}